#header
    .headline
        h1
            span
                i.icon-star.opacity-large
                i.icon-star.opacity-medium
                i.icon-star.opacity-medium
                i.icon-star.opacity-small
            span &nbsp; Image Retrievel System &nbsp;
            span
                i.icon-star.opacity-small
                i.icon-star.opacity-medium
                i.icon-star.opacity-medium
                i.icon-star.opacity-large