extend layout

block content
    - var dataExternalUpload = externalUpload.toString();
    - var dataSearchByAjax = searchByAjax.toString();
    
    #wrapper
        .container
            #img-container
                .form-upload
                    h4 Drop your image here:
                    form#formUpload(action= urlAction, class="dropzone", data-external-upload= dataExternalUpload)
                        div.fallback
                            input(name="file", type="file")

                if (externalUpload == true)
                    .viewer(style="display:none")
                        div#image-viewer
                            img(src="#")

                        form#search-frm(method="post", action= urlSearch, data-ajax-search= dataSearchByAjax)
                            div.input-group
                                input#query(type="hidden", name="q")
                                input#crop-x(type="hidden", name="cx")
                                input#crop-y(type="hidden", name="cy")
                                input#crop-w(type="hidden", name="cw")
                                input#crop-h(type="hidden", name="ch")
                            div.radio-group
                                div Please select a feature:
                                    span.radio
                                        label
                                            input(type="radio", name="feature", value="surf", checked)
                                            | SURF
                                    span.radio
                                        label
                                            input(type="radio", name="feature", value="sift")
                                            | SIFT
                                    span.radio
                                        label
                                            input(type="radio", name="feature", value="rootsift")
                                            | ROOTSIFT
                                div Please select total of result: 
                                    select#result-len(name="count")
                                        option(value=10) 10
                                        option(value=20) 20
                                        option(value=30, selected) 30
                                        option(value=50) 50
                                        option(value=100) 100


                            button#btn-submit(type="submit") Search
